/* site-branding.scss
*  specification of Fonts and Colours to be used 
*  in the MVNH website styling.
*/


/*************** FONTS ********************/
$Header-font: 'Edwardian Script ITC' , 'Arial', sans-serif;
$body-font: 'Verdana', 'Arial', 'Helvetica', sans-serif;
$accent-font: 'Georgia', 'Times New Roman', serif;
$header-1-font: 'Times New Roman', 'Times', serif;

/**************** COLOURS *******************/

$light-green: #b9e695;
$khaki: #3a4d2b;
$green: #aeda9c;
$turquois:#1b492e;
$green-1:#709c6a;
$dark-green:#4a6d44;

$brown: #835b30;
$light-brown:#9c8d5a;

$grey-white: #e8f0e8;
$green-white:#caedc4;
$white: #FFFFFF;
$near-white: #dddddd;

$near-black: #070500;

