<footer id="page_footer" role="footer">
  
<nav id="footer-nav">
  <ul >
     <li><%= link_to "Home", home_path %></li>
     <li><%= link_to "Contact Us", contact_path %></li>
  </ul>
</nav>
 
  <p>
  Copyright &copy; <%= Time.now.year %> Mole Valley Natural History. All rights reserved.
  </p>
 
</footer>